<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VC</display-name>
  <welcome-file-list>
    <welcome-file>/docs/views/Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationHandler</display-name>
    <servlet-name>RegistrationHandler</servlet-name>
    <servlet-class>com.vc.servlets.RegistrationHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationHandler</servlet-name>
    <url-pattern>/RegistrationHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>com.vc.servlets.LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadpostservlet</display-name>
    <servlet-name>uploadpostservlet</servlet-name>
    <servlet-class>com.vc.servlets.uploadpostservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadpostservlet</servlet-name>
    <url-pattern>/uploadpostservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPostHandler</display-name>
    <servlet-name>UploadPostHandler</servlet-name>
    <servlet-class>com.vc.servlets.UploadPostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPostHandler</servlet-name>
    <url-pattern>/UploadPostHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signout</display-name>
    <servlet-name>signout</servlet-name>
    <servlet-class>com.vc.servlets.signout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signout</servlet-name>
    <url-pattern>/signout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignoutHandler</display-name>
    <servlet-name>SignoutHandler</servlet-name>
    <servlet-class>com.vc.servlets.SignoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignoutHandler</servlet-name>
    <url-pattern>/SignoutHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionHandler</display-name>
    <servlet-name>QuestionHandler</servlet-name>
    <servlet-class>com.vc.servlets.QuestionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionHandler</servlet-name>
    <url-pattern>/QuestionHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AskQuestionHandler</display-name>
    <servlet-name>AskQuestionHandler</servlet-name>
    <servlet-class>com.vc.servlets.AskQuestionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskQuestionHandler</servlet-name>
    <url-pattern>/AskQuestionHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookUpLoadHandler</display-name>
    <servlet-name>BookUpLoadHandler</servlet-name>
    <servlet-class>com.vc.servlets.BookUpLoadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookUpLoadHandler</servlet-name>
    <url-pattern>/BookUpLoadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDownloadHandler</display-name>
    <servlet-name>BookDownloadHandler</servlet-name>
    <servlet-class>com.vc.servlets.BookDownloadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDownloadHandler</servlet-name>
    <url-pattern>/BookDownloadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>formhandler</display-name>
    <servlet-name>formhandler</servlet-name>
    <servlet-class>com.vc.servlets.formhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formhandler</servlet-name>
    <url-pattern>/formhandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyHandler</display-name>
    <servlet-name>ReplyHandler</servlet-name>
    <servlet-class>com.vc.servlets.ReplyHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyHandler</servlet-name>
    <url-pattern>/ReplyHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerHandler</display-name>
    <servlet-name>AnswerHandler</servlet-name>
    <servlet-class>com.vc.servlets.AnswerHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerHandler</servlet-name>
    <url-pattern>/AnswerHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoUploadHandler</display-name>
    <servlet-name>VideoUploadHandler</servlet-name>
    <servlet-class>com.vc.servlets.VideoUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoUploadHandler</servlet-name>
    <url-pattern>/VideoUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideouploadHandler</display-name>
    <servlet-name>VideouploadHandler</servlet-name>
    <servlet-class>com.vc.servlets.VideoUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideouploadHandler</servlet-name>
    <url-pattern>/VideouploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoupladHandler</display-name>
    <servlet-name>VideoupladHandler</servlet-name>
    <servlet-class>com.vc.servlets.VideoUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoupladHandler</servlet-name>
    <url-pattern>/VideoupladHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Videoupload</display-name>
    <servlet-name>Videoupload</servlet-name>
    <servlet-class>com.vc.servlets.Videoupload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Videoupload</servlet-name>
    <url-pattern>/Videoupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>videouploadh</display-name>
    <servlet-name>videouploadh</servlet-name>
    <servlet-class>com.vc.servlets.videouploadh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>videouploadh</servlet-name>
    <url-pattern>/videouploadh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHandler</display-name>
    <servlet-name>UploadHandler</servlet-name>
    <servlet-class>com.vc.servlets.UploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandler</servlet-name>
    <url-pattern>/UploadHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendingPasswordHandler</display-name>
    <servlet-name>SendingPasswordHandler</servlet-name>
    <servlet-class>com.vc.servlets.SendingPasswordHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendingPasswordHandler</servlet-name>
    <url-pattern>/SendingPasswordHandler</url-pattern>
  </servlet-mapping>
</web-app>